/*----se llama a las variables--------------*/
/* VARIABLES*/
/*variables fuente*/
/* @import url("https: //fonts.googleapis.com/css2? family= Montserrat:wght@300 & family= Open+Sans:ital,wght@1,600 & display=swap"); */
/* -------media tablet--INDEX--------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:ital,wght@1,600&display=swap");
@media (max-width: 768px) {
  #equipo {
    width: 90%;
  }
  #equipo p {
    display: none;
  }
  .servicio-fila {
    width: 100%;
    text-align: center;
  }
}
#bg-contacto {
  top: -110px;
}

.container-fluid {
  text-align: center;
  justify-content: center;
}

.footer {
  width: 80px;
}

.iconos {
  width: 100%;
  justify-content: center;
}

@media (min-widht: 570px) {
  #equipo {
    width: 100%;
    margin: auto;
  }
  #equipo p {
    width: 100%;
    margin: auto;
    display: none;
  }
  .servicio-fila {
    width: 60%;
    text-align: center;
  }
}
#bg-contacto {
  top: -110px;
}

.footer {
  width: 100%;
  margin: auto;
}

.container-fluid {
  text-align: center;
  justify-content: center;
}

.icono-wrap {
  flex-wrap: wrap;
  justify-content: center;
}

.iconos {
  width: 60%;
  justify-content: center;
}

.wrapper {
  width: 100%;
  margin: auto;
  text-align: center;
  width: 72px;
}

/*----------Vista en desktop/index/inicio------*/
@media (max-width: 1024px) {
  #equipo {
    width: 100%;
    margin: auto;
  }
  #equipo p {
    width: 100%;
    margin: auto;
  }
  .servicio-fila {
    width: 100%;
    margin: auto;
    text-align: center;
  }
}
#bg-contacto {
  top: -110px;
}

.footer {
  width: 100%;
  margin: auto;
}

.icono-wrap {
  flex-wrap: wrap;
  justify-content: center;
}

.iconos {
  width: 60%;
  justify-content: center;
}

.wrapper {
  width: 100%;
  margin: auto;
}

/*---------------*/
/*----------------------------------*/
@media (max-width: 1024px) {
  #seccion-color {
    max-width: 611px;
    margin: 0 auto;
  }
  .footer {
    min-height: 100px;
  }
  .wrapper {
    width: 72%;
    padding-top: 150px;
  }
}
@media (min-width: 570px) {
  #seccion-color {
    width: 384px;
    text-align: center;
  }
  .footer {
    width: 384px;
    text-align: center;
  }
  .wrapper {
    width: 384px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  #seccion-color {
    width: 1140px;
    text-align: center;
  }
  .footer {
    width: 1140px;
    text-align: center;
  }
  .wrapper {
    width: 1140px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .container-fluid {
    text-align: center;
    justify-content: center;
  }
  .container-fluid .carousel-portafolio {
    text-align: center;
    justify-content: center;
  }
}
@media (min-width: 570px) {
  .container-fluid {
    text-align: center;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .carousel-portafolio {
    max-width: 715px;
    margin: 0 auto;
    width: 100%;
  }
}
/*media queries--- sector otros servicios*/
@media (min-width: 570px) {
  .container-fluid {
    text-align: center;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .container-fluid {
    text-align: center;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .container-fluid {
    text-align: center;
    justify-content: center;
  }
}
/*---RESETEO PARA DEJAR EN CERO YA QUE EL NAVEGADOR TRAE CONFIGURACIONES-------------------------------------------------- */
/* @import url("https: //fonts.googleapis.com/css2? family= Montserrat:wght@300 & family= Open+Sans:ital,wght@1,600 & display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------------------FUENTES CODIGO - INCLUYE TODAS LAS SECCIONES---------------------------------------------------*/
body {
  /* font-family: "Montserrat", sans-serif; */
  overflow-x: hidden;
}

/* ---------------------------------MENU INCLUYE TODAS LAS SECCIONES-------------------------------------------------------------------------------*/
/* .navbar.ggg { */
.navbar__supestilo__supestilo {
  font-size: 18px;
  font-weight: bold;
  color: #3f3f3f;
}

.navbar-toggler.aaa {
  font-size: 18px;
  font-weight: bold;
}

/* ---------------------------------------------------------CAROUSEL DE IMAGENES--------------------------------------*/
.carousel-portafolio {
  width: 100%;
  max-width: 715px;
  margin: 0 auto;
}

/* ------------------------PORTAFOLIO---------------------------------CAROUSEL DE IMAGENES // PORTAFOLIO --------------------------------------*/
.row {
  padding-top: 20px;
}

/*------------------------SECTOR INICIO---MENU PRINCIPAL----------------------------MAPA---------------------------------------------------------*/
.mapa {
  background-image: url(../pictures/pic18.png);
  width: 100%;
  height: 500px;
}

#local {
  background: #f3f3f3;
  padding-bottom: 300px;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 72%;
  /*   margin-right: 100px; */
  padding-top: 150px;
}

/*---------------------------PARA LOS NUMEROS DE TEMP/GRADOS/DIAS DE CALOR----------------------------------------*/
#numeros-local div {
  padding: 0 20px 0 0;
  height: 48px;
}

#numeros-local div:not(:last-child) {
  border-left: 2px solid #3f3f3f;
}

#numeros-local div:not(:first-child) {
  padding-left: 20px;
}

#numeros-local p {
  margin: 0;
}

/*-----------MENU-----PRINICIPAL----------------SECCION FORMULARIO------MENU------------------------------------------------*/
#bg-contacto {
  position: relative;
  top: -130px;
}

#seccion-contacto {
  background-color: rgb(6, 112, 199);
  min-height: 500px;
  position: relative;
}

/*-----------MENU------------------------------CONTENEDOR DEL FORMULARIO-----------------------------------------------*/
#contenedor-formulario {
  margin-top: -195px;
  left: 50%;
  background: #fbfafa;
  border-radius: 5px;
  max-width: 500px;
}

/*-----------------------------------------------PIE DE LA PAGINA-----MENU PRINCIPAL--------------------------------------------*/
footer {
  background: rgb(6, 112, 199);
  min-height: 100px;
}

footer p {
  color: #f3f3f3;
  text-align: center;
}

#iconos {
  text-align: center;
  font-size: 26px;
  padding: 0 8px;
  color: white;
}

/*----------------- portafolio----------------------------------------------------------------------------
------------------------------PORTAFOLIO BARRA- ESTILOS ----------------------------*/
.portafolioBarra {
  color: #3f3f3f;
}

.portafolioBarra {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: bold;
  padding-right: 100%;
}

/*--------------------------------CONTENEDOR DEL FORMULARIO-----------------------------------------------*/
/*sector menu principal */
/*---------------- --------------------aplicando animacion para resaltar formulario---sector index------------------------------------------------------------------*/
#seccion-contacto {
  background-color: white;
  position: relative;
}

#seccion-contacto {
  margin-top: none;
  background-color: rgb(6, 112, 199);
  background: #fbfafa;
  border-radius: 5px;
  max-width: 500px;
  margin: 0 auto;
}

#seccion-contacto {
  transform: scale(1, 1);
}

#seccion-contacto:hover {
  transform: scale(2);
}

/*----------------PROFESIONALES SECTOR PROFESIONALES----metodologia - vem -  sass------*/
.section {
  background-color: white;
}
.section .section__img {
  position: relative;
  float: left;
  margin-left: 250px;
}
.section .section__tiulo {
  float: left;
  margin-left: 25px;
  padding-top: 56px;
  left: 0;
  position: relative;
  top: -50px;
}
.section .section__texto {
  margin-left: 10px;
  text-align: end;
  float: left;
  margin-top: 40px;
  left: -136px;
  position: relative;
  width: 400px;
}
.section .section__picj {
  position: relative;
  float: left;
  margin-left: 250px;
  padding-top: 20px;
}
.section .section__tituloj {
  float: left;
  margin-left: 25px;
  padding-top: 56px;
  left: 0;
  position: relative;
  top: -50px;
}
.section .section__textoj {
  margin-left: 10px;
  text-align: end;
  float: left;
  margin-top: 40px;
  left: -252px;
  position: relative;
  width: 387px;
}
.section .section__picu {
  position: relative;
  float: left;
  padding-top: 20px;
  margin-left: 250px;
}
.section .section__titulou {
  float: left;
  margin-left: 25px;
  padding-top: 56px;
  left: 0;
  position: relative;
  top: -50px;
}
.section .section__textou {
  margin-left: 10px;
  text-align: end;
  width: 400px;
  float: left;
  margin-top: 40px;
  left: -136px;
  position: relative;
}

/*PASAMOS A CONTACTO TODO SECTOR CONTACTO*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------- SECTOR CONTACTANOS -------------------sector contactanos formulario para contactarse -------------------------------------------------------*/
/*------seccion formulario parte contactanos--------------------*/
#seccion-color {
  background-color: white;
  position: relative;
}

/*   .test {
    padding-bottom: 100px;
    background-color: rgb(6, 112, 199);
  } */
/*-------------------------------CONTACTANOS----------CONTENEDOR DEL FORMULARIO-----------------------------------------------*/
/*---------------- --------------------SECCION PARA CONTACTANOS ACA SE VEN LOS ESTILOS DEL FORMULARIO-----------------------------------------------------------------*/
#seccion-color {
  background-color: rgb(6, 112, 199);
  background: white;
  border-radius: 5px;
  max-width: 611px;
  margin: 0 auto;
}

/*---sector contacto---es para agregar footer*/
/*  .footer__cont {
   background: rgb(6, 112, 199);
   min-height: 142px;
 .p__contacto {
   color: #f3f3f3;
   text-align: center;
 }
 } *//*# sourceMappingURL=main.css.map */